#titulo{
    color: aquamarine;
  
    text-align: center;
    margin-top:0%;
    margin-bottom: 0%;
    size: 150%;
}
    #par_princ{
    text-align: center;

    }
#menu{   
    text-align: center;
    font-size: medium;
    margin: 30px;
    align-items: center;
    align-content: flex-end;

   

}
header{
    background-color: black;
    padding: 0%;

}
