#titulo{
    color: aquamarine;
    background-color: black;
    text-align: center;
}
 #par_princ{
text-align: center;

    }
#menu{   
    text-align: center;
    font-size: medium;
    background-color: bisque;

}
#head{

    background-color: black;
}